@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;700&family=PT+Sans+Narrow:wght@400;700&family=Poppins:wght@500;600&display=swap");

.navGroup {
  display: flex;
}

.navGroup p {
  margin: 0 20px;
}

.sign-in:hover,
.navGroup div:hover {
  color: #c33764;
  cursor: pointer;
  transition: 0.5s;
}

#search-btn {
  padding: 8px;
  height: 39px;
  width: 39px;
  border-radius: 5px;
  background: linear-gradient(to right, #c33764, #7b4397);
}

#search-btn:hover {
  opacity: 60%;
  cursor: pointer;
  transition: 0.5s;
}

#text-area {
  height: 37px;
  margin-right: 7px;
  border-radius: 4px;
  padding-left: 8px;
  outline: none;
}

.title-animation {
  font-size: 20px;
  transform: translateY(-50%) scaleY(1.5);
  transition: font-size 1s ease-in-out, transform 0.5s ease-in-out;
  line-height: 1.1em;
  letter-spacing: 0.24rem;
}

.prompt-container_animation {
  transform: translateY(20%);
  transition: transform 1s ease-in-out;

  padding-bottom: 0px;
}

.image-container {
  height: 212px;
  width: 212px;
}

.menu-group_item {
  border-color: #5a5a5a;
  border-width: 1px;
  border-style: solid;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 0.5rem;
  padding-right: 0;
  border-right: none;
  border-left: none;
  border-bottom: none;
}
