@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;700&family=PT+Sans+Narrow:wght@400;700&family=Poppins:wght@500;600&display=swap");

.navGroup {
  display: flex;
}

.navGroup p {
  margin: 0 20px;
}

.navGroup p:hover {
  color: #c33764;
  cursor: pointer;
  transition: 0.5s;
}

#ai-image {
  height: 400px;
  width: 400px;
  z-index: 12;
  position: fixed;
  top: 240px;
}
